body {

  background-color: #D2FAC1;
  text-align: center;
  font-family: serif;
}
h1,h2 {
color: #02786E;
font-family:'Shadows Into Light', cursive;
}
p {
  font-family: Open Sans Condensed, sans-serif;
}
ul {
list-style: none;
}
img {
  border: 2px, dotted, #0F3835;
}
a {
font-family: Open Sans Condensed, sans-serif;
}
